[submodule "ing_adhoc/odoo-argentina"]
	path = ing_adhoc/odoo-argentina
	url = https://github.com/ingadhoc/odoo-argentina.git
	branch = 16.0
[submodule "ing_adhoc/odoo-argentina-ee"]
	path = ing_adhoc/odoo-argentina-ee
	url = https://github.com/ingadhoc/odoo-argentina-ee.git
	branch = 16.0
[submodule "ing_adhoc/argentina-sale"]
	path = ing_adhoc/argentina-sale
	url = https://github.com/ingadhoc/argentina-sale.git
	branch = 16.0
[submodule "ing_adhoc/account-invoicing"]
	path = ing_adhoc/account-invoicing
	url = https://github.com/ingadhoc/account-invoicing.git
	branch = 16.0
[submodule "ing_adhoc/account-financial-tools"]
	path = ing_adhoc/account-financial-tools
	url = https://github.com/ingadhoc/account-financial-tools.git
	branch = 16.0
[submodule "ing_adhoc/account-payment"]
	path = ing_adhoc/account-payment
	url = https://github.com/ingadhoc/account-payment.git
	branch = 16.0
[submodule "ing_adhoc/stock"]
	path = ing_adhoc/stock
	url = https://github.com/ingadhoc/stock.git
	branch = 16.0
[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 16.0

[submodule "Outsource-Argentina/odoo-mod-purchase-requisitions-ext"]
	path = Outsource-Argentina/odoo-mod-purchase-requisitions-ext
	url = git@github.com:Outsource-Argentina/odoo-mod-purchase-requisitions-ext.git
	branch = main
