[submodule "ing_adhoc/odoo-argentina"]
	path = ing_adhoc/odoo-argentina
	url = https://github.com/ingadhoc/odoo-argentina.git
	branch = 18.0
[submodule "ing_adhoc/argentina-sale"]
	path = ing_adhoc/argentina-sale
	url = https://github.com/ingadhoc/argentina-sale.git
	branch = 18.0
[submodule "ing_adhoc/account-invoicing"]
	path = ing_adhoc/account-invoicing
	url = https://github.com/ingadhoc/account-invoicing.git
	branch = 18.0
[submodule "ing_adhoc/account-financial-tools"]
	path = ing_adhoc/account-financial-tools
	url = https://github.com/ingadhoc/account-financial-tools.git
	branch = 18.0
[submodule "ing_adhoc/account-payment"]
	path = ing_adhoc/account-payment
	url = https://github.com/ingadhoc/account-payment.git
	branch = 18.0
[submodule "ing_adhoc/stock"]
	path = ing_adhoc/stock
	url = https://github.com/ingadhoc/stock.git
	branch = 18.0
[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 16.0

[submodule "Outsource-Argentina/odoo-mod-purchase-requisitions-ext"]
	path = Outsource-Argentina/odoo-mod-purchase-requisitions-ext
	url = git@github.com:Outsource-Argentina/odoo-mod-purchase-requisitions-ext.git
	branch = main

[submodule "Outsource-Argentina/odoo-mod-campo-propietario"]
	path = Outsource-Argentina/odoo-mod-campo-propietario
	url = git@github.com:Outsource-Argentina/odoo-mod-campo-propietario.git
	branch = main


[submodule "Outsource-Argentina/odoo-mod-parche-stock_picking_grouping"]
	path = Outsource-Argentina/odoo-mod-parche-stock_picking_grouping
	url = git@github.com:Outsource-Argentina/odoo-mod-parche-stock_picking_grouping.git
	branch = Cendis-18

[submodule "Outsource-Argentina/odoo-mod-stock-traceability-remitos"]
	path = Outsource-Argentina/odoo-mod-stock-traceability-remitos
	url = git@github.com:Outsource-Argentina/odoo-mod-stock-traceability-remitos.git
	branch = main

[submodule "Outsource-Argentina/odoo-mod-stock-unpack-validation"]
	path = Outsource-Argentina/odoo-mod-stock-unpack-validation
	url = git@github.com:Outsource-Argentina/odoo-mod-stock-unpack-validation.git
	branch = 18-Cendis

[submodule "Outsource-Argentina/odoo-mod-custom-stock-picking-enhancement"]
	path = Outsource-Argentina/odoo-mod-custom-stock-picking-enhancement
	url = git@github.com:Outsource-Argentina/odoo-mod-custom-stock-picking-enhancement.git
	branch = 18-Cendis

[submodule "Outsource-Argentina/odoo-mod-custom-stock-rejection"]
	path = Outsource-Argentina/odoo-mod-custom-stock-rejection
	url = git@github.com:Outsource-Argentina/odoo-mod-custom-stock-rejection.git
	branch = 18-Cendis

[submodule "Outsource-Argentina/mod-restriccion-package-name"]
	path = Outsource-Argentina/mod-restriccion-package-name
	url = git@github.com:Outsource-Argentina/mod-restriccion-package-name.git
	branch = cendis18

[submodule "Outsource-Argentina/odoo-mod-actualizacion_unidades"]
	path = Outsource-Argentina/odoo-mod-actualizacion_unidades
	url = git@github.com:Outsource-Argentina/odoo-mod-actualizacion_unidades.git
	branch = main

[submodule "Outsource-Argentina/odoo-mod-control-product-date"]
	path = Outsource-Argentina/odoo-mod-control-product-date
	url = git@github.com:Outsource-Argentina/odoo-mod-control-product-date.git
	branch = cendis18

[submodule "Outsource-Argentina/odoo-mod-stock-barcode-product-temperature"]
	path = Outsource-Argentina/odoo-mod-stock-barcode-product-temperature
	url = git@github.com:Outsource-Argentina/odoo-mod-stock-barcode-product-temperature.git
	branch = 18-Cendis

[submodule "Outsource-Argentina/odoo-mod-parche-tipo-documento"]
	path = Outsource-Argentina/odoo-mod-parche-tipo-documento
	url = git@github.com:Outsource-Argentina/odoo-mod-parche-tipo-documento.git
	branch = main

[submodule "Outsource-Argentina/odoo-argentina-ee-fork"]
	path = Outsource-Argentina/odoo-argentina-ee-fork
	url = git@github.com:Outsource-Argentina/odoo-argentina-ee-fork.git
	branch = 18-Cendis

[submodule "Outsource-Argentina/odoo-mod-origin_to_product_document"]
	path = Outsource-Argentina/odoo-mod-origin_to_product_document
	url = git@github.com:Outsource-Argentina/odoo-mod-origin_to_product_document.git
	branch = cendisv18

[submodule "Outsource-Argentina/odoo-mod-l10n-ar-tax-fix-v18"]
	path = Outsource-Argentina/odoo-mod-l10n-ar-tax-fix-v18
	url = git@github.com:Outsource-Argentina/odoo-mod-l10n-ar-tax-fix-v18.git
	branch = cendis

[submodule "Outsource-Argentina/odoo-mod-stock-barcode-uom-fix"]
	path = Outsource-Argentina/odoo-mod-stock-barcode-uom-fix
	url = git@github.com:Outsource-Argentina/odoo-mod-stock-barcode-uom-fix.git
	branch = 18-Cendis

[submodule "Outsource-Argentina/odoo-mod-barcode-picking-stage"]
	path = Outsource-Argentina/odoo-mod-barcode-picking-stage
	url = git@github.com:Outsource-Argentina/odoo-mod-barcode-picking-stage.git
	branch = 18-Cendis
[submodule "ing_adhoc/sale"]
	path = ing_adhoc/sale
	url = git@github.com:ingadhoc/sale.git
	branch = 18.0
[submodule "ing_adhoc/miscellaneous"]
	path = ing_adhoc/miscellaneous
	url = git@github.com:ingadhoc/miscellaneous.git
	branch = 18.0
